* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --basetheme: #00c853;
  --basethemelight: #00a042;
  --bordercolor: rgb(219, 224, 235);
  --fontcolor: rgb(79, 79, 79);
  --bodycolor: white;
  --tablecolor: white;
  --textcolor: white;
  --activecolor: #00a042;
  --bodycolor: white;
}
body {
  background-color: var(--bodycolor) !important;
}
/* .anticon {
  display: none;
} */
:where(.css-dev-only-do-not-override-6j9yrn).ant-modal .ant-modal-content {
  padding: 0;
  border-radius: 0 !important;
  margin: 0 !important;
}
:where(.css-6j9yrn).ant-modal .ant-modal-content {
  padding: 0px 0px 30px 0px !important;
}
:where(.css-6j9yrn).ant-modal .ant-modal-footer {
  margin: 10px 15px !important;
}
.css-wigwbp {
  padding: 14px 28px !important;
  font-size: 16px !important;
  font-family: "Albert", sans-serif !important;
  font-weight: 500 !important;
}
.css-orq8zk {
  color: black !important;
}
@font-face {
  font-family: "albert light";
  src: url("../src/Fonts/Albert/static/AlbertSans-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "albert";
  src: url("../src/Fonts/Albert/static/AlbertSans-Medium.ttf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
